body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}


/*--------Main---------*/
/*Home*/
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url(img/);
    background-color: black;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
}

.home h1{
    font-size: 120px;
    text-align: center;
    margin: 0px;
}

.home p{
    text-align: center;
    font-size: 30px;
}

h1:not(.home h1){
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 80px;
    font-weight: 400;
}


/*About Me*/
.aboutMe{
    margin-top: 50px;
    height: 130vh;
    padding: 0% 40px;
}

.about{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.about > div{
    background-color: black;
    color: white;
    border-radius: 10px;
}

.myInfo{
    width: 30%;
}

.myInfo img{
    width: 340px;
    border-radius: 10px 10px 0px 0px;
}

.texteMe{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.myInfo h3{
    font-size: 20px;
    margin: 10px;
}

.myInfo p{
    margin: 10px;
    color: rgb(196, 196, 196);
}

.reseaux{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin-top: 20px;
}

.reseaux img{
    width: 50px;
}

.myInfo button{
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.moreMe{
    display: flex;
    flex-direction: column;
    gap:  10px;
    padding: 10px;
}

.skills, .passion{
    background-color: rgb(37, 36, 36);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.language{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.language > div{
    display: flex;
    width: 33%;
    background-color: rgb(53, 51, 51);
    padding: 15px;
    border-radius: 10px;
}

.java:hover{
    border-top: solid rgb(226, 147, 2) 3px;
}

.sql:hover{
    border-top: solid rgb(25, 186, 154) 3px;
}

.htmlcss:hover{
    border-top: solid rgb(35, 91, 234) 3px;
}

.language > div > div > div{
    display: flex;
    flex-direction: row;
}

.language > div > div > div h2{
    font-size: 15px;
    margin: 0px;
}

.language > div > div > div p{
    font-size: 13px;
    margin: 0px;
    color: rgb(196, 196, 196);
}

.language > div > div > div img{
    width: 30px;
    height: auto;
}

.language ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 13px;
    padding-left: 20px;
    gap: 5px;
}

.language li:not(:last-child) {
    border-bottom: solid  rgb(100, 99, 99) 0.1px;
    padding-bottom: 5px;
}

.java li::marker{
    color: rgb(226, 147, 2);
    font-size: 20px;
}

.sql li::marker{
    color: rgb(25, 186, 154);
    font-size: 20px;
}

.htmlcss li::marker{
    color: rgb(35, 91, 234);
    font-size: 20px;
}

.basket {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.basket > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basket img {
    display: inline;
    width: 80%;
}


/*Projets*/
.Myprojets{
    background-color: black;
    height: 210vh;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
}

.Myprojets h1{
    color: white;
}

.projets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 50px;
    flex-wrap: wrap;
}

.projets > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 30%;
    height: 400px;
    padding: 7px;
    border-radius: 10px;
    opacity: 80%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    transition: 0.6s;
}

.projets > div:hover{
    transform: scale(1.035);
    box-shadow: 1px -4px 27px rgb(131, 127, 127);

}

.projet1{
    background-image: url(img/home/sopra-steria.jpg);
}

.projet2{
    background-image: url(img/home/java_chatbot.jpg);
}

.projet3{
    background-image: url(img/home/nutriscore.jpg); 
}

.projet4{
    background-image: url(img/home/five.avif); 
}

.projet5{
    background-image: url(img/home/debian-13.jpg);
}

.projet6{
    background-image: url(img/home/réseaux.jpg);
}

.projets > div > p{
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    width: 40%;
    background-color: rgb(233, 233, 233);
    font-size: 10px;
}

.projets div a {
    text-decoration: none;
    color: black;
    background-color: rgb(136, 131, 131);
    width: 16%;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    transition: 0.35s;
}

.projets div a:hover {
    transform: scale(1.07);
    box-shadow: 2px 2px 12px rgb(255, 255, 255);
}

.projets > div > div {
    color: white;
}

.projets > div > div > p{
    font-size: 15px;
    margin: 0px;
    margin-bottom: 10px;
    color: rgb(216, 216, 216);
}

.projets h3{
    margin: 0px;
    font-size: 19px;
}

.projets img{
    width: 100%;
}