.competence{
    background-image: url(img/chatbot/close-up-hands-typing-key-board.jpg);
}

.objectif{
    background-image: url(img/chatbot/tattooed-man-texting-social-media-remix.jpg);
}

.organisation{
    background-image: url(img/chatbot/161230-OVDNVP-437.jpg);
}

.savoir{
    background-image: url(img/chatbot/close-up-code-running-laptop-screen-data-center.jpg);
}