.objectif{
    background-image: url(img/server/);
}

.organisation{
    background-image: url(img/server/);
}

.savoir{
    background-image: url(img/server/big-data-cybier-security-database-abstract-concept.jpg);
}