.competence{
    background-image: url(img/nutriscore/big-data-cybier-security-database-abstract-concept.jpg);
}

.objectif{
    background-image: url(img/nutriscore/reading-recipe.jpg);
}

.organisation{
    background-image: url(img/nutriscore/792.jpg);
}

.savoir{
    background-image: url(img/nutriscore/data-statistic-green-blackboard.jpg);
}