body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('img/home/fond_gris.jpeg'); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;     
    background-color: #6a6a6a; 
}

section{
    display: flex;
    flex-direction: row;
}

.photo{
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    top: 0px;
    height: 95vh;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.photo a{
    width: fit-content;
    padding: 10px;
    box-shadow: 2px 10px 35px rgba(0, 0, 0, 0.45);
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.35s;
}

.photo a:hover {
    transform: scale(1.07);
    box-shadow: 2px 2px 12px rgb(131, 127, 127);
}

.photo h1{
    font-size: 100px;
    margin: 0px;
}

.photo h2{
    width: fit-content;
    background-color: rgb(16, 84, 129);;
    padding: 10px;
    border-radius: 10px;
}


/*Droite*/
.texte{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    flex: 1;
    color: white;
    font-size: 23px;
}

.contenuDiv, .titreDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.2s;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: 0.9;
}

.contenuDiv:hover, .titreDiv div:hover{
    transform: scale(1.03);
    border: solid 2px white ;
}

.contenuDiv{
    padding: 10%;
}

.titreDiv{
    padding: 10px;
    gap: 20px;
}

.titreDiv div{
    display: flex;
    flex-direction: row;
    padding: 100px;
    border-radius: 10px;
    transition: 0.2s;
}

.titreDiv > div:first-child{
    background-color:#162565;
    flex: 1;
}

.titreDiv > div:last-child{
    background-color: antiquewhite;
    flex: 1;
}

.texte h2 {
    font-size: 35px;
}

.competence li::marker{
    color: rgb(16, 84, 129);;
    font-size: 25px;
}

.savoir img{
    width: 70px;
}