.competence{
    background-image: url(img/appliaction/);
}

.objectif{
    background-image: url(img/appliaction/);
}

.organisation{
    background-image: url(img/appliaction/);
}

.savoir{
    background-image: url(img/appliaction/);
}