.competence{
    background-image: url(img/sopra_steria/);
}

.objectif{
    background-image: url(img/sopra_steria/);
}

.organisation{
    background-image: url(img/sopra_steria/);
}

.savoir{
    background-image: url(img/sopra_steria/programming-background-concept.jpg);
}