.competence{
    background-image: url(img/five/);
}

.objectif{
    background-image: url(img/five/soccer-fans-cheering-team-monochrome.jpg);
}

.organisation{
    background-image: url(img/five/);
}

.savoir{
    background-image: url(img/five/);
}